.modal-dialog {
    height: 30% !important;
    padding-top:10%;
}

.modal-content {
    text-align: center;
    font-size: 20px;
    padding: 20px;
    height: 100% !important;
    overflow:visible;
}

.modal-body {
    height: 30%;
    overflow: auto;
}

/*.page__title img {
    width: 100%;
}*/

/*.page__header {
    -webkit-background-size: cover;
    background-size: cover;
}*/

/*.header:after {
    bottom: -19%!important;
    -webkit-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
}*/
