@font-face {
  font-family: 'CirceRegular';
  src: url("../fonts/CirceRegular.eot");
  src: url("../fonts/CirceRegular.eot") format("embedded-opentype"), url("../fonts/CirceRegular.woff2") format("woff2"), url("../fonts/CirceRegular.woff") format("woff"), url("../fonts/CirceRegular.ttf") format("truetype"), url("../fonts/CirceRegular.svg#CirceRegular") format("svg"); }
@font-face {
  font-family: 'CirceBold';
  src: url("../fonts/CirceBold.eot");
  src: url("../fonts/CirceBold.eot") format("embedded-opentype"), url("../fonts/CirceBold.woff2") format("woff2"), url("../fonts/CirceBold.woff") format("woff"), url("../fonts/CirceBold.ttf") format("truetype"), url("../fonts/CirceBold.svg#CirceBold") format("svg"); }
@font-face {
  font-family: 'CirceLight';
  src: url("../fonts/CirceLight.eot");
  src: url("../fonts/CirceLight.eot") format("embedded-opentype"), url("../fonts/CirceLight.woff2") format("woff2"), url("../fonts/CirceLight.woff") format("woff"), url("../fonts/CirceLight.ttf") format("truetype"), url("../fonts/CirceLight.svg#CirceLight") format("svg"); }
/* font-family: "MyriadProRegular"; */
@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
.fotorama__arr {
  width: 52px;
  height: 52px;
  background: url("../img/Right-Square-Button Outlineh.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain; }
  .fotorama__arr--next {
    opacity: 0.5 !important;
    display: block !important;
    transform: none !important;
    right: 5%; }
    .fotorama__arr--next:hover {
      opacity: 1 !important; }
  .fotorama__arr--prev {
    opacity: 1 !important;
    display: block !important;
    transform: none !important;
    background: url("../img/Right-Square Button Outline.png");
    background-repeat: no-repeat;
    left: 5%;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    opacity: 0.5 !important; }
    .fotorama__arr--prev:hover {
      opacity: 1 !important; }
  .fotorama__arr--disabled {
    display: none !important;
    opacity: 0 !important; }

.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon {
  opacity: 1; }

.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none; }

.fotorama__nav-wrap {
  margin-top: -12%;
  height: 60px;
  margin-bottom: 110px; }

.fotorama__dot {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: 0;
  background-color: #FFF;
  width: 40px;
  height: 3px;
  margin: 0 5px;
  background-color: #ededed; }

.fotorama__nav__frame.fotorama__active .fotorama__dot {
  width: 40px;
  height: 3px;
  background-color: #c94d3f;
  border: none; }

.fotorama__nav--dots .fotorama__nav__frame {
  width: inherit;
  height: 30px; }

.fotorama__arr--prev .fotorama__arr--disabled {
  display: none !important; }

body {
  font-family: "CirceRegular"; }

a {
  text-decoration: none; }
  a:hover, a:focus, a:active {
    outline: none; }

ul {
  list-style-type: none; }

.block_title {
  color: #b38543;
  font-size: 30px;
  text-align: center;
  margin-top: 25px;
  text-transform: uppercase;
  font-family: "CirceBold"; }

.p0 {
  padding: 0; }

.p5 {
  padding: 0 5px; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.white {
  color: #fff; }

@media (min-width: 1920px) {
  .container {
    width: 1260px; } }
@media (min-width: 1200px) {
  .container {
    width: 1160px; } }
.navbar-nav {
  width: 100%;
  text-align: center;
  margin: 5px 0; }
  .navbar-nav li {
    float: none;
    display: inline-block; }
    .navbar-nav li a {
      font-size: 15px;
      color: #979689; }

.navbar-default .navbar-nav > li > a {
  color: #979689;
  text-transform: uppercase;
  font-family: "CirceBold"; }
  .navbar-default .navbar-nav > li > a:hover {
    color: #c87043; }

.navigation {
  background: #fff;
  border-bottom: none;
  height: 75px;
  padding: 10px;
  margin-bottom: 0;
  z-index: 9999; }

.header {
  margin-top: 75px;
  position: relative; }
  .header__logo {
    position: absolute;
    top: 15px;
    right: 75px;
    z-index: 9; }
    .header__logo h3 {
      color: #000;
      text-transform: uppercase;
      font-size: 30px;
      font-family: "MyriadProRegular"; }
      .header__logo h3 span {
        color: #B88909; }
  .header__text {
    color: #FFF;
    margin-top: 15%; }
    .header__text h1 {
      font-family: "CirceBold";
      font-size: 100px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 3px; }
    .header__text h4 {
      font-size: 21px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 7px; }
  .header__mouse {
    position: absolute;
    bottom: 25%;
    width: 140px;
    height: 85px;
    left: 50%;
    margin-left: -70px;
    background-image: url("../img/Shape-16.png");
    background-repeat: no-repeat;
    background-position: 50% 0; }
    .header__mouse p {
      margin-top: 75px;
      color: #FFF;
      font-size: 8px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px; }
  .header:after {
    content: '';
    display: block;
    height: 38%;
    width: 100%;
    position: absolute;
    bottom: -20%;
    background-image: url("../img/Shape-14.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    z-index: 150; }

.showbill {
  display: block;
  position: relative;
  width: 100%;
  z-index: 99;
  background-color: #FFF;
  padding: 125px 0 25px;
  top: -10px; }
  .showbill__item {
    display: block;
    position: relative;
    margin: 25px 0; }
    .showbill__item--img {
      width: 100%;
      height: 115px;
      background-color: #acacac;
      -webkit-box-shadow: 0 3px 10px rgba(0, 1, 3, 0.29);
      -moz-box-shadow: 0 3px 10px rgba(0, 1, 3, 0.29);
      box-shadow: 0 3px 10px rgba(0, 1, 3, 0.29);
      overflow: hidden;
      text-align: center;
      word-spacing: nowrap;
      vertical-align: middle; }
      .showbill__item--img:after {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle; }
      .showbill__item--img img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        max-width: 100%;
        min-height: 100%;
        vertical-align: middle; }
    .showbill__item--time {
      margin-top: 15px; }
      .showbill__item--time h3 {
        color: #958362;
        font-size: 17px;
        text-align: right;
        margin-top: 0;
        text-transform: uppercase;
        letter-spacing: 1px; }
        .showbill__item--time h3 span {
          display: block;
          font-size: 70px;
          font-family: "CirceBold"; }
      .showbill__item--time p {
        text-align: right;
        font-size: 13px;
        color: #65665B;
        letter-spacing: 1px; }
    .showbill__item--info {
      text-align: left;
      margin-top: 15px;
      line-height: 75px; }
      .showbill__item--info h2 {
        font-family: "CirceBold";
        font-size: 24px;
        color: #37392B;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        display: inline-block;
        vertical-align: middle;
        line-height: normal; }
      .showbill__item--info p {
        text-transform: uppercase;
        color: #7A7B72;
        font-size: 11px;
        letter-spacing: 1px;
        line-height: normal; }
  .showbill__more {
    text-align: center;
    margin: 35px 0; }
    .showbill__more a {
      letter-spacing: 2px;
      text-align: center;
      margin: 0 auto;
      font-size: 11px;
      color: #B38543; }
      .showbill__more a:hover {
        color: #dac09c; }

.news {
  display: block;
  position: relative;
  width: 100%;
  background-image: url(../img/bg1.png);
  background-color: rgba(255, 255, 255, 0);
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 25px 0 85px;
  z-index: 9; }
  .news__item {
    margin: 25px 0; }
    .news__item--img {
      width: 90%;
      height: 107px;
      display: block;
      float: left;
      overflow: hidden;
      text-align: center;
      word-spacing: nowrap;
      vertical-align: middle; }
      .news__item--img:after {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle; }
      .news__item--img img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        max-width: 100%;
        min-height: 100%;
        vertical-align: middle; }
      .news__item--img img {
        width: 100%; }
    .news__item--soc {
      display: block;
      float: left;
      width: 10%; }
      .news__item--soc a {
        display: block;
        float: right;
        color: #FFF;
        margin: 0 0 5px;
        line-height: 28px;
        text-align: center;
        width: 28px;
        height: 28px;
        background-color: #272727; }
        .news__item--soc a:hover {
          background-color: #41588E; }
    .news__item--title {
      display: block;
      width: 90%;
      float: left;
      color: #eee5d9;
      margin-top: 20px; }
      .news__item--title a {
        color: #eee5d9;
        font-size: 9px;
        text-transform: uppercase; }
      .news__item--title p {
        font-size: 12px; }
      .news__item--title h4 {
        font-size: 18px;
        text-transform: uppercase;
        color: #fff; }
  .news__more {
    margin-top: 25px;
    text-transform: uppercase;
    color: #FFF;
    font-size: 12px;
    display: block;
    float: left; }
    .news__more:hover {
      color: #fff; }

.company {
  display: block;
  float: left;
  width: 100%;
  background-image: url("../img/bg2-2.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #000;
  padding: 75px 0 100px;
  margin-top: -50px;
  color: #E8C76C; }
  .company h4 {
    font-family: "CirceLight";
    font-size: 31px;
    text-align: center;
    margin: 50px; }
  .company h2 {
    font-size: 60px;
    font-family: "CirceLight";
    text-align: center;
    margin: 25px 0 50px; }
  .company p {
    color: #fff;
    text-align: center;
    font-size: 20px; }
  .company span {
    color: #E4D190;
    text-align: center;
    font-size: 12px;
    margin-top: 50px;
    display: block; }

.artists {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding: 50px 0 175px;
  background-image: url("../img/bg3.png");
  background-color: rgba(255, 255, 255, 0);
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-position: 50% 100%;
  background-repeat: no-repeat; }
  .artists__item {
    margin: 25px 0; }
    .artists__item--img {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      display: block;
      margin: 0 auto;
      width: 268px;
      height: 268px;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #acacac;
      overflow: hidden;
      text-align: center;
      word-spacing: nowrap;
      vertical-align: middle; }
      .artists__item--img:after {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle; }
      .artists__item--img img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        max-width: 100%;
        min-height: 100%;
        vertical-align: middle; }
    .artists__item--desc {
      text-align: center;
      margin-top: 15px;
      display: block; }
      .artists__item--desc h4 {
        text-transform: uppercase;
        color: #FFF;
        text-align: center;
        font-size: 33px;
        font-family: "CirceBold"; }
      .artists__item--desc a {
        color: #FFF;
        font-size: 14px; }
      .artists__item--desc--soc {
        display: block;
        text-align: center;
        width: 75px;
        margin: 25px auto; }
        .artists__item--desc--soc a {
          display: block;
          float: left;
          font-size: 20px;
          color: #FFF;
          margin: 0 10px;
          -webkit-transition: all 0.5s linear;
          -moz-transition: all 0.5s linear;
          -ms-transition: all 0.5s linear;
          -o-transition: all 0.5s linear;
          transition: all 0.5s linear; }
          .artists__item--desc--soc a:hover {
            color: #C87043; }

@media only screen and (max-width: 770px) {
  .align-left {
    text-align: center; }

  .align-right {
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
