body {
	font-family: $r;
}
a {
	text-decoration: none;
	&:hover, &:focus, &:active{
		outline: none;
	}
}

ul {
	list-style-type: none;
}

.block_title {
	color: #b38543;
    font-size: 30px;
	text-align: center;
	margin-top: 25px;
	font-family: $b;
}

.p0  {
	padding: 0;
}

.p5  {
	padding: 0 5px;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}

.white {
	color: #fff;
}
@media (min-width: 1920px) {
	.container {
		width: 1260px;
	}
}

@media (min-width: 1200px) {
  .container {
    width: 1160px;
  }
}






