@media only screen and (max-width: 1030px) {
	.nav > li > a {
		padding: 10px 5px;
	}
	.navbar-nav li a {
    	font-size: 14px;
    }
    .header:after {
		bottom: -10%;
    }
    .showbill__item--time h3 {
		font-size: 12px;
		span {
			font-size: 50px;
		}
	}
	.showbill__item--info {
		h2 {
			font-size: 16px;
		}
		p {
			font-size: 7px;
		}
	}
}

@media only screen and (max-width: 770px) {
	.align-left {
		text-align: center;
	}
	.align-right {
		text-align: center;
	}	
	.navbar-nav li a {
    	font-size: 10px;
    }
    .artists {
    	background-position: 50% 70%;
	    &__item--img {
	    	width: 200px;
	    	height: 200px;
	    }
	}
	.partners {
		margin-top: -215px;
	}
	.header:after {
		bottom: -7%;
	}
	.news__item--soc a {
		z-index: 99;
		position: relative;
	}
	.header__mouse {
		display: none;
	}	
	.showbill__item--time h3 {
		font-size: 17px;
		span {
			font-size: 70px;
		}
	}
	.showbill__item--info {
		h2 {
			font-size: 24px;
		}
		p {
			font-size: 11px;
		}
	}
}

@media only screen and (max-width: 500px) {

	.header__logo {
		display: none;
	}

	.navbar-brand {
		display: block;
	}
	.navigation {
		padding: 10px 0;
		width: 100%;
	}

	.navbar-header {
		margin: 0;
	}
	
	.header__text h1 {
		font-size: 24px;
	}
	.header__text h4 {
		font-size: 16px;
	}
	.fotorama__arr {
		width: 32px;
		height: 32px;
	}
	.fotorama__nav-wrap {
		margin-bottom: 5px;
	}

	.header:after {
		bottom: -25px;
	}

	.fotorama__dot {
		width: 20px;
	}

	.fotorama__nav__frame.fotorama__active .fotorama__dot { 
		width: 20px;
	}

	.navbar-nav {
		text-align: left;
	}

	.navbar-collapse {
		background-color: rgba(255, 255, 255, 1);
	}

	.navbar-nav li {
		display: block;
	}
	.navbar-nav > li > a {
		padding: 5px 0;
	}

	.company {
		h4 {
			font-size: 21px;
			margin: 25px 0;
	    }
	    h2 {
	    	font-size: 42px;
	    }
	    p {
	    	font-size: 16px;
	    }
	}

	.artists {
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
	    .block_title {
	    	color: #FFF;
	    }
	    &__item--img {
	    	width: 200px;
	    	height: 200px;
	    }
	}
	.showbill {
		padding-top: 35px;
	}
	.col7 {
		width: 50%;
		&:last-of-type {
			margin: 0 25%;
		}
	}
	.navbar-brand {
		padding-left: 10px;
	}
}